/* 悬浮点赞分享收藏 */
._3Pnjry {
  display: none;
}

/* 右侧广告推荐 */
._2OwGUo {
  display: none;
}

/* 顶部导航栏 */
header {
  display: none;
}

/* 评论处广告 */
.-umr26 {
  display: none;
}

/* 底部推荐文章 */
.ouvJEz:last-child {
  display: none;
}